  
.contact-jumbotron {
    background-image: url("../../assets/images/parallax/25101.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.form-bg {
  background-color: 312E81;
}